mixin canvasContainer
    .canvas__container
        .canvas__timer.hidden
            i.far.fa-hourglass
            span 60
        .container.help__container
            div
                span 텔레스트레이션 게임 방법
            p 1. 각 플레이어는 스케치북과 제시어를 받습니다.
            p 2. 매 턴마다 스케치북을 다음 사람에게 넘기며 진행합니다. 
            p 3-1. 제시어를 전달 받은 경우, 제시어에 맞는 그림을 그립니다. 
            p 3-2. 그림을 전달 받은 경우, 그림에 맞는 제시어를 추측하여 입력합니다. 
            p 4. 자신의 스케치북이 돌아올 때 게임은 종료되며 모두의 스케치북을 확인합니다. 
            p.notice (모바일은 PC 버전으로 플레이하면 더 편안합니다)
            .patchNote
                p.patch__version v1.1 패치노트 (210613)
                p - 채우기 추가 (색 선택하고 채우기 누르면 채워짐)
                p - 모바일 최적화 (캔버스를 정사각형으로 변경)
                p.patch__version v1.2.1 패치노트 (210614)
                p - 4인 이상 플레이 시 1명 완전 자유 주제 (자유 주제 제외 수정 불가)
                p - 리뷰 창에서 스케치북 주인 이름 색상 추가
                p - 게임 턴의 방향이 정방향으로 바뀜(왼->오)
                p - 버튼이 줄어드는 버그 수정
                p - 턴 넘어갈 때 펜, 채우기 색 초기화
                p.patch__version v1.3.4 패치노트 (210615)
                p - 펜 굵기 변경 추가 (1 ~ 10단계)
                p - 리뷰 창에서 다운로드 기능 추가
                p - 채우기 아이콘 불-편함 수정
        .container.mod0__container.hidden
            div
                span 제시어는 
                span.word ㅇㅇㅇ
                span 입니다.
            form
                input(placeholder="제시어를 입력 해주세요", type="text")
            .submitWord.hidden
                span 입력된 제시어는 
                span.word ㅇㅇㅇ
                span 입니다.
        .container.mod1__container.hidden
            div
                span.word ㅇㅇㅇ
                span 을(를) 그려주세요
            .canvas__div
                canvas.canvas__draw
                .canvas__controls
                    button.btn__clear.border Fill
                    button(style="background-color:rgb(0, 0, 0)") 
                    button.border(style="background-color:rgb(255,255,255)")
                    button(style="background-color:rgb(255,59,48)") 
                    button(style="background-color:rgb(255,149,0)")
                    button(style="background-color:rgb(255,204,0)")
                    button(style="background-color:rgb(76,217,100)")
                    button(style="background-color:rgb(90,200,250)")
                    button(style="background-color:rgb(0,122,255)")
                    button(style="background-color:rgb(88,86,214)")
                .canvas__pen
                    input.range__width(type="range", min="1", max="10", value="2", step="1")
        .container.mod2__container.hidden
            .canvas__div
                .canvas__show
            form
                input(placeholder="그림에 맞는 정답을 입력해주세요", type="text")
            .submitWord.hidden
                span 입력된 제시어는 
                span.word ㅇㅇㅇ
                span 입니다.
        .container.review__container.hidden
        .canvas__btns
            button.canvas__btn__draw.hidden 그리기 시작(테스트)
            button.canvas__btn__submit.hidden 완료
            button.canvas__btn__modify.hidden 수정
            button.canvas__btn__ready 준비
            button.review__btn__prev.hidden <
            button.review__btn__next.hidden >
            button.review__btn__exit.hidden 종료
            button.review__btn__download.hidden 다운로드
