mixin chatContainer()
    .chat__container
        .chat__players__div
            .players
                span 방장 
                div 운
            .players
                span 
                div 순
        .chat__list__div
            .chat__view__div
            form.chat__form
                input(placeholder="메시지 입력", type="text")
        
