@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.canvas__container {
    position: relative;
    height: 100%;
    width: 70%;
    padding: 2rem;
    padding-top: 5rem;
    .canvas__timer {
        position: absolute;
        right: 3rem;
        top: 6rem;
        font-size: xx-large;
        color: gray;
        i {
            padding-right: 0.5rem;
            animation: spin 2s;
            animation-iteration-count: infinite;
            transform-origin: 37% 50%;
        }
    }
    .canvas,
    .chatMessages {
        background-color: white;
        height: 80vh;
        border-radius: 10px;
        box-shadow: 0 3px 36px rgba(23, 55, 87, 0.1),
            0 5px 15px rgba(0, 0, 0, 0.07);
    }
    .container {
        width: 100%;
        height: 45rem;
        padding-top: 5rem;
        border-radius: 20px;
        box-shadow: 0 6px 6px gray;
        padding: 50px;
        background-color: white;
    }
    .help__container {
    }
    .mod0__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            font-size: 1.5rem;
        }
        .word {
            font-size: 2.5rem;
        }
        input {
            text-align: center;
            margin-top: 20px;
            width: 20rem;
            padding: 10px;
            border-radius: 50px !important;
            box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1),
                0 10px 10px rgba(81, 87, 110, 0.16) !important;
            border-radius: 5px;
            font-size: 14px;
            border: rgb(209, 209, 209) 4px solid;
            outline: none;
            transition: all ease-in-out 0.3s;
            &:focus::placeholder {
                visibility: hidden;
            }
        }
        .submitWord {
            margin-top: 20px;
        }
    }
    .mod1__container {
        text-align: center;
        .word {
            font-size: 2rem;
        }
        .canvas__div {
            margin-top: 2rem;
            width: 100%;
            height: 75%;
            canvas {
                //height: 100%;
                //width: 100%;
                height: 500px;
                width: 1000px;
                border: 1px rgb(129, 129, 129) solid;
                border-radius: 2rem;
                //box-shadow: inset 0 5px 5px gray;
            }
            .canvas__controls {
                padding-left: 15%;
                padding-right: 15%;
                margin-top: 1rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                button {
                    height: 3.5rem;
                    width: 3.5rem;
                    border: none;
                    border-radius: 5rem;
                    transition: all ease-in-out 0.1s;
                    &:hover {
                        transform: scale(1.2);
                    }
                    &:focus {
                        transform: scale(0.8);
                    }
                }
                .btn__clear {
                    font-size: 0.5rem;
                }
                .border {
                    border: 1px gray solid;
                }
                .clicked {
                    transform: scale(0.8);
                }
            }
        }
    }
    .mod2__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .canvas__div {
            margin-top: 2rem;
            width: 100%;
            height: 75%;
            .canvas__show {
                height: 500px;
                width: 1000px;
                border: 1px rgb(129, 129, 129) solid;
                border-radius: 2rem;
            }
        }
        input {
            text-align: center;
            margin-top: 50px;
            width: 20rem;
            padding: 10px;
            border-radius: 50px !important;
            box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1),
                0 10px 10px rgba(81, 87, 110, 0.16) !important;
            border-radius: 5px;
            font-size: 14px;
            border: rgb(209, 209, 209) 4px solid;
            outline: none;
            transition: all ease-in-out 0.3s;
            &:focus::placeholder {
                visibility: hidden;
            }
        }
        .word {
            font-size: 2.5rem;
        }
        .submitWord {
            margin-top: 50px;
        }
    }
    .canvas__btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 10%;
        padding: 1rem;
        button {
            background-color: orange;
            border-color: orange;
            border: none;
            height: 100%;
            width: 20rem;
            border-radius: 30px;
            box-shadow: 0 5px 5px gray;
            font-family: "Jua";
            font-size: large;
            transition: transform 0.1s linear;
            &:active {
                transform: scale(0.98);
            }
        }
    }
}
