.chat__container {
    background-color: slategray;
    height: 100%;
    width: 25%;
    .chat__players__div {
        background-color: bisque;
        height: 7.5%;
        width: 100%;
    }
    .chat__list__div {
        background-color: white;
        height: 92.5%;
        width: 100%;
        padding: 1rem;
        .chat__view__div {
            background: linear-gradient(gray, black);
            height: 95%;
            width: 100%;
            padding: 1rem;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            p {
                margin-bottom: 0.5rem;
                color: white;
            }
        }
        .chat__form {
            height: 5%;
            width: 100%;
            background-color: black;
            padding: 0.1rem;
            input {
                height: 100%;
                width: 100%;
                border: 0 white solid;
                transition: all ease-in-out 0.3s;
                &:hover {
                    border-top: 2px white solid;
                    border-bottom: 2px white solid;
                    border-radius: 10px;
                }
                &:focus {
                    outline: none;
                    border-top: 2px white solid;
                    border-bottom: 2px white solid;
                    border-radius: 10px;
                }
            }
        }
    }
}
