$input--outline--color: aqua;

.login__container {
    box-shadow: $boxShadow;
    background: linear-gradient(rgb(228, 228, 228), rgb(202, 202, 202));
    padding: 40px;
    border-radius: 10px;
    .login__title {
        text-align: center;
        font-size: 26px;
        padding-bottom: 30px;
    }
    input {
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        border: 0;
        background-color: $greyColor;
        box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1),
            0 0 0 1px rgba(42, 47, 69, 0.16);
        border-radius: 5px;
        font-size: 14px;
        border: white 2px solid;
        box-shadow: none;
        outline: none;
        transition: all ease-in-out 0.3s;
        &:hover {
            border: $input--outline--color 2px solid;
        }
        &:focus {
            border: $input--outline--color 2px solid;
        }
    }
}
